/* Ajustes iniciales */

body{
	background-color: #eee;
	font-family: 'latoregular', sans-serif;
}

a{
	text-decoration: none;
}

header{
    width: 100%;
    height: 45px;
    background: #7F7161;
    position: fixed;
    top: 0px;
    z-index: 10000;
}

header h3{
    color: #fff;
    margin-top: 10px;
    display: inline-block;
}

.headroom--pinned {
    position: fixed;
}
.headroom--unpinned {
    position: absolute;
}

.headroom {
    -webkit-transition: transform 200ms linear;
    -moz-transition: transform 200ms linear;
    -ms-transition: transform 200ms linear;
    -o-transition: transform 200ms linear;
    transition: transform 200ms linear;
}
.headroom--pinned {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
.headroom--unpinned {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

/* Subtitulo */

.subtitulo {
    display: table;
    white-space: nowrap;
    border-spacing: 7px 0;
    font-family: 'latosemibold', sans-serif;
    color: #646464;
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 15px;
}

.subtitulo:before, .subtitulo:after {
    content: "";
    display: table-cell;
    width: 50%;
    background: -webkit-linear-gradient(#aaa, #aaa) repeat-x left center;
    background: -moz-linear-gradient(#aaa, #aaa) repeat-x left center;
    background: -ms-linear-gradient(#aaa, #aaa) repeat-x left center;
    background: linear-gradient(#aaa, #aaa) repeat-x left center;
    background-size: 1px 1px;
}

/* Modificaciones visuales de Bootstrap */

.btn-approved{
  color: #fff;
    background: #03A678;
    border: 0px;
    width: 120px;
    padding: 8px;
    font-size: 16px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 6px;
    border-bottom: 5px solid #00845B;
    outline: none; 
}

.btn-approved:hover{
}


.btn-approved:focus{
  margin-top: 4px;
  border-bottom: 1px solid #00845B;
}

select.input-sm {
    height: 25px;
    line-height: 30px;
}

.panel-title {
    padding: 10px 15px;
    font-family: 'latosemibold', Arial, Helvetica, sans-serif;
}

.panel-heading{
	padding: 0px;
}

.panel {
	border: 0px;
	margin-bottom: 25px !important;
}
.actives{
	background:#7F7161 !important;
	color:#fff;
}

.panel-red{
	background:#7F7161 !important;
	color:#fff;
}


.panel-heading {
    background-color: #7F7161;
	color:#fff;
}

.panel-white{
	background: #fff !important;
    color: #646464 !important;
    border: 0px solid #fff !important;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
}

/* Label and name form */
.form-horizontal .control-label {
    padding-top: 0px;
    margin-bottom: 0;
    text-align: left;
}
.form-control{
	height: 25px;
}
/* Barra de progreso */

.pasos-container{
    position: fixed;
    width: 100% !important;
    background-color: #eee;
    padding: 10px 0 !important;
    top: 45px;
    z-index: 1000;
    left: 0;
    right: 0;
    margin: 0px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.3);
    height: 60px !important;
}

span.pasos{
	width: 100px;
	height: 40px;
	border-radius: 10px;
	background-color: #a71f00;
}

span.pesos{
    position: absolute;
    top: 3px;
    left: 30px;
    color: #646464;
}
input.pesos{
    padding-left: 30px;
}

i.icons{
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background: rgba(0,0,0,0.1);
    color: #fff;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 24px;
    padding: 8px;
}

/* OCULTAR LOS FORMULARIOS AL INICIO */

#form-paso2, #form-paso3, #form-paso4{
	display:none;
}

.boton span{
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    width: 80%;
    cursor: pointer;
    display: inline-block;
    background-color: #ccc;
    z-index: 10;
    position: relative;
    padding-left: 40px;
    text-align: center;
    color: #646464;
    -webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
  	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
  	transition:all .3s ease-in-out;

}

i.border{
    height: 5px;
    width: 100%;
    position: absolute;
    background-color: #ccc;
    left: 50%;
    top: 50%;
    z-index: 9;
    opacity: 0;
}

i.inicio{
	left: 50% !important;
	width: 100% !important;
}

i.fin{
	right: 50% !important;
	width: 50% !important;
}

/* Estados del Formulario */

/* Terminado */
.completo span{
	background-color: #03A678 !important;
	color: #fff;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
  	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
  	transition:all .3s ease-in-out;

}
.completo i.border{
	background-color: #03A678;
	color: #fff;
	opacity:1 !important;
	-webkit-animation:barra 2s ease-out;
	-moz-animation:barra 2s ease-out;
	-ms-animation:barra 2s ease-out;
	-o-animation:barra 2s ease-out;
	animation:barra 2s ease-out;
}

/* Animación al completar un formulario */

@-webkit-keyframes barra { /* Chrome - Safari */
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
@-moz-keyframes barra { /* Mozilla Firefox */
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
@-ms-keyframes barra { /* Internet Explorer */
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
@-o-keyframes barra { /* Opera  */
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
} 
@keyframes barra { /* Generico */
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}


/* Actual */
.actual span{
	background-color: #9BCCB7 !important;
	color: #fff;

}


/* Icono Menu para moviles*/

#nav-toogle, #nav-toogle span, .menu-usuario{
  display: none;
}

#nav-toggle { 
	cursor: pointer;
    padding: 0px 35px 45px 0px;
    position: absolute;
    left: 0px;
 }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 25px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span{
    top: 21px;
    left: 5px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}



/* Overlay Index */
.overlay-menu{
  background-color:rgba(0,0,0,.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 1001;
  opacity: 0;
    webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

/* Menu */ 

.sidebar li{
    display: inline-block;
    width: 23%;
    padding: 10px 9px;
    text-align: center;
    background-color: rgba(255,255,255,0.1);
    margin-left: 1%;
}

.sidebar li a i{
	font-size: 20px;
	margin-right: 5px;
  position: relative;
  top: 3px;
}
.sidebar li a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	vertical-align: top;}

/* Muestra Elementos ocultos */

.visible{
  display: inline !important;
  opacity: 1;
    webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.modal-form{
	top: 50%;
	-webkit-transform: translateY(-25%);
	-moz-transform: translateY(-25%);
	-ms-transform: translateY(-25%);
	-o-transform: translateY(-25%);
    transform: translateY(-25%);
}

.modal-form .modal-footer{
	width: 60px;
    right: 20px;
    top: -9px;
    position: absolute;
    top: 50%;
    padding: 0px;
    border: 0px;
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    transform: translateY(-50%);

}

.modal-form .modal-body{
    width: calc(100% - 80px);
}

.modal-form .btn-primary {
    color: #fff;
    background-color: #7F7161;
    border-color: #7F7161;
}

.modal-form .close {
	display: none;
}
/*-------------------------------
    Ajustes generales formulario
--------------------------------*/
.puntaje_acierta{
    padding: 20px 0px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    margin: 10px 0;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

 .checkbox-inline p{
      float: left;
      width: 68%;
  }

  label.checkbox-inline > .toggle.btn {
      float: left !important;
  }
/*-------------------------------
 		Ajustes Responsivos
--------------------------------*/


  /* 1 - 2 (Identificación) */

  input#identificacion_cliente{
    float: left;
    width: 68%;
    width: calc(100% - 50px);
  }

  input#digito_verificacion{
    width: 30px;
    float: left;
    margin-left: 20px;
  }
  
  /* 1 - 3 / 1 - 4 (Antiguedad) */

  input.antiguedad_meses{
    float: left;
    width: 68%;
    width: calc(100% - 50px);
  }

  input.antiguedad_ano{
    width: 30px;
    float: left;
    margin-left: 20px;
  }
  
  /* 1 - 4 (Teléfono) */

  input#telefono{
    float: left;
    width: 55%;
    width: calc(100% - 80px);
  }

  input#telefono_ext{
    width: 60px;
    float: left;
    margin-left: 20px;
  }
/* Utilidades */

  .add-bottom-sm{
    margin-bottom: 20px;
  }

  .sent{
    margin-bottom: 40px;
  }



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

    header h3 {
      color: #fff;
      margin-top: 10px;
      display: inline-block;
      font-size: 22px;
    }
    .checkbox-inline p{
      float: left;
      width: 68%;
    }

    label.checkbox-inline > .toggle.btn {
        float: left !important;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    header h3 {
      color: #fff;
      margin-top: 14px;
      display: inline-block;
      font-size: 17px;
    }

  .checkbox-inline p{
      float: left;
      width: 68%;
  }

  label.checkbox-inline > .toggle.btn {
      float: left !important;
  }

}

/* Small Devices, Tablets */

@media only screen and (max-width:767px) {
        
    .sidebar{
	    position: fixed;
	    left: -205px;
	    webkit-transition: all ease-in-out .3s;
	    -moz-transition: all ease-in-out .3s;
	    -ms-transition: all ease-in-out .3s;
	    -o-transition: all ease-in-out .3s;
	    transition: all ease-in-out .3s;
	    width: 200px;
	    height: 100%;
	    background-color: #333;
	    top: 45px;
	    padding:12px 0px;
    }

    .sidebar li{
    	width: 100%;
	    text-align: left;
	    background-color: #444;
	    padding: 5px 20px;
	    margin-bottom: 5px;
    }

    .showmenu{
      	left: 0px;
        webkit-transition: all ease-in-out .3s;
        -moz-transition: all ease-in-out .3s;
        -ms-transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;
        transition: all ease-in-out .3s;
     
    }

    #nav-toogle, #nav-toogle span, .menu-usuario{
      display: inline;
    }

    /* Ajustes de márgenes */

    .add-bottom-xs{
      margin-bottom: 20px !important;
    }
    .form-group {
      margin-bottom: 0px;
    }

    .boton span{
		width: 40px;
		text-indent: -9999px;
		color: #fff;

	}
	.boton i{
		text-indent: initial;
	}
	header h3{
	    color: #fff;
	    margin-top: 14px;
	    display: inline-block;
	    font-size: 18px;
	    margin-left: 35px;
	}
	
	header h5{
	    color: #fff;
	    margin-top: 14px;
		text-align: right;
	    display: inline-block;
	    font-size: 10px;
	    margin-left: 35px;
	}
  

  /* Ajustes de los Input Movil*/

  /* 1 - 2 (Identificación) */

  input#identificacion_cliente{
    float: left;
    width: 68%;
    width: calc(100% - 50px);
  }

  input#digito_verificacion{
    width: 30px;
    float: left;
    margin-left: 20px;
  }
  
  /* 1 - 3 / 1 - 4 (Antiguedad) */

  input.antiguedad_meses{
    float: left;
    width: 68%;
    width: calc(100% - 50px);
  }

  input.antiguedad_ano{
    width: 30px;
    float: left;
    margin-left: 20px;
  }
  
  /* 1 - 4 (Teléfono) */

  input#telefono{
    float: left;
    width: 55%;
    width: calc(100% - 80px);
  }

  input#telefono_ext{
    width: 60px;
    float: left;
    margin-left: 20px;
  }
  .pasos-container .container{
    padding: 0px !important;
  }
}
