/* Roboto Font */


@font-face {
    font-family: 'robotobold';
    src: url('roboto-bold-webfont.eot');
    src: url('roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-bold-webfont.woff2') format('woff2'),
         url('roboto-bold-webfont.woff') format('woff'),
         url('roboto-bold-webfont.ttf') format('truetype'),
         url('roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight';
    src: url('roboto-light-webfont.eot');
    src: url('roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-light-webfont.woff2') format('woff2'),
         url('roboto-light-webfont.woff') format('woff'),
         url('roboto-light-webfont.ttf') format('truetype'),
         url('roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotomedium';
    src: url('roboto-medium-webfont.eot');
    src: url('roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-medium-webfont.woff2') format('woff2'),
         url('roboto-medium-webfont.woff') format('woff'),
         url('roboto-medium-webfont.ttf') format('truetype'),
         url('roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.eot');
    src: url('roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff'),
         url('roboto-regular-webfont.ttf') format('truetype'),
         url('roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Iconos para Grilla V.1.0 */

@font-face {
    font-family: 'icomoon';
    src: url('icomoon.eot');
    src: url('icomoon.eot?#iefix') format('embedded-opentype'),
         url('icomoon.woff2') format('woff2'),
         url('icomoon.woff') format('woff'),
         url('icomoon.ttf') format('truetype'),
         url('icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Lato Font */

@font-face {
    font-family: 'latobold';
    src: url('lato-bold-webfont.eot');
    src: url('lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-bold-webfont.woff2') format('woff2'),
         url('lato-bold-webfont.woff') format('woff'),
         url('lato-bold-webfont.ttf') format('truetype'),
         url('lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight';
    src: url('lato-light-webfont.eot');
    src: url('lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-light-webfont.woff2') format('woff2'),
         url('lato-light-webfont.woff') format('woff'),
         url('lato-light-webfont.ttf') format('truetype'),
         url('lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('lato-regular-webfont.eot');
    src: url('lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-regular-webfont.woff2') format('woff2'),
         url('lato-regular-webfont.woff') format('woff'),
         url('lato-regular-webfont.ttf') format('truetype'),
         url('lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latosemibold';
    src: url('lato-semibold-webfont.eot');
    src: url('lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-semibold-webfont.woff2') format('woff2'),
         url('lato-semibold-webfont.woff') format('woff'),
         url('lato-semibold-webfont.ttf') format('truetype'),
         url('lato-semibold-webfont.svg#latosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Configuracion Iconos */
[class^="icon-"], [class*="icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Lista Iconos */

.icon-add:before {
    content: "\e601";
}
.icon-prev:before {
    content: "\e602";
}
.icon-deactivate:before {
    content: "\e603";
}
.icon-edit:before {
    content: "\e604";
}
.icon-first:before {
    content: "\e605";
}
.icon-refresh:before {
    content: "\e606";
}
.icon-search:before {
    content: "\e607";
}
.icon-next:before {
    content: "\e608";
}
.icon-last:before {
    content: "\e609";
}
.icon-resume:before {
    content: "\e60a";
}
.icon-up:before {
    content: "\e60b";
}
.icon-down:before {
    content: "\e60c";
}
.icon-alert:before {
    content: "\e60d";
}
.icon-user:before {
    content: "\e60e";
}
.icon-pass:before {
    content: "\e60f";
}
.icon-arrow-right:before {
    content: "\e610";
}
.icon-flag:before {
    content: "\e611";
}
.icon-language:before {
    content: "\e612";
}
.icon-off:before {
    content: "\e613";
}
.icon-setting:before {
    content: "\e614";
}
.icon-arrow-left:before {
    content: "\e600";
}
.icon-del:before {
    content: "\e615";
}
.icon-folder:before {
    content: "\e616";
}
.icon-check:before {
    content: "\e617";
}
.icon-clean:before {
    content: "\e618";
}
.icon-export:before {
    content: "\e619";
}
.icon-import:before {
    content: "\e61a";
}
.icon-show:before {
    content: "\e61b";
}
.icon-calendar:before {
    content: "\e61c";
}
.icon-list:before {
    content: "\e61d";
}
.icon-car:before {
    content: "\e61e";
}
.icon-point:before {
    content: "\e61f";
}
.icon-duplicate:before {
    content: "\e620";
}
.icon-gestion:before {
    content: "\e621";
}